@import url("../../../constants.css");

.how-it-works {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* background-color: lightsteelblue; */
  width: 100%;
  max-width: 1200px;
  min-width: 800px;
  height: 2000px;
  padding: var(--padding-large) var(--padding-large);
}

.section-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.section-title h2 {
  font-size: var(--text-h2);
  font-weight: 600;
  margin-right: 64px;
}

.circle-icon {
  height: 124px;
  width: 124px;
  border-radius: 100%;
  background-color: var(--accent-color);
}

.steps {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 0;
}
